@font-face {
	font-family: RalewayRegular;
	src: url('Raleway-Regular.ttf');
}

@font-face {
	font-family: RalewayThin;
	src: url('raleway_thin-webfont.ttf');
}

body {
	margin: 0;
	padding: 0;
	font-family: RalewayRegular, "Helvetica", sans-serif;
}

.navBar {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	position: fixed;
	width: 100%;
	padding: 1%;
	margin: 0px;
}

.navBar li {
	display: inline-block;
	padding-right: 2%;
	font-size: 16px;
}

.navBar li a {
	text-decoration: none;
	color: #666666;
}

.navBar li a:hover {
	color: #000000;
}

.logo {
	color: #000000;
	float: left;
	padding-left: 2%;
	font-size: 20px;
	font-weight: bold;
}

.logo a {
	text-decoration: none;
	color: #000000;
}

.footer {
	margin-top: 2%;
	padding: .5%;
	background-color: gray;
}


.footer .footerLinks {
	list-style: none;
}

.footer .footerLinks li {
	display: inline-block;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 2%;
}
.footer .footerLinks a {
	text-decoration: none;
	color: white;
}

.footer .footerLinks a:hover {
	color: black;
}

.pictureBanner {
	width: 100%;
}

.pictureHeader {
	padding: 3% 2% 0 2%;
	text-align: center;
}

.picture {
	display:none;
}

.picturesTab {
	padding: 1%;
}

.picturesTab h2 {
	padding-left: 1%;
}

.picturesTab img {
	padding: 1%;
}

.pageDescription {
	padding: 1%;
	width: 35%;
	margin-left: 33%;
}



